/* 1. `h1` 태그를 선택하세요. */
    h1 {
        color: #4A90E2;
    }
    /* 2. `header` 태그를 선택하세요. */
    header {
        background-color: #F5F5F5;
    }
    /* 3. 클래스 이름이 `highlight`인 `span` 요소를 선택하세요. */
    
    span.highlight {
        color: #F39C12;
    }
    /* 4. `nav` 요소 안의 모든 `a` 요소를 선택하세요. */
    nav a {
        color: #E74C3C;
    }
    /* 5. 클래스 이름이 `intro`인 `section` 요소를 선택하세요. */
    section.intro {
        background-color: #E8F4F8;
    }
    /* 6. 클래스 이름이 `title`인 모든 `h2` 요소를 선택하세요. */
    .title {
        color: #27AE60;
    }
    /* 7. 첫 번째 `article` 클래스를 가진 `div` 요소를 선택하세요. */ 
    .article:first-child {
        background-color: #BDC3C7;
    }
    /* 8. 두 번째 `article` 클래스를 가진 `div` 요소를 선택하세요. */
    
    .article:nth-child(2){
        background-color: #FAD7A0;
    }
    /* 9. `article` 클래스를 가진 `div` 요소 내의 `p` 요소를 선택하세요. */
    
    .article > p {
        color: #9B59B6;
    }
    /* 10. 모든 `section` 요소를 선택하세요. */
    .setion
    {
    
        border: 1px dashed #E74C3C;
    }
    /* 11. `footer` 요소 안의 모든 `a` 요소를 선택하세요. */

    footer a {
    color: #34495E;
    }
    /* 12. `header` 요소의 안의 첫 번째 `li` 요소를 선택하세요. */
    
    header li:nth-child(1){
    border: 1px solid #111;
    }
    /* 13. `header` 요소의 안의 마지막 `li` 요소를 선택하세요. */
    
    header li:last-child(){
    border: 1px solid #111;
    }
    /* 14. `header` 자식 `nav` 자식 `ul` 자식 요소의 모든 `li` 요소를 선택하세요. */
    
    header > nav > ul > li:nth-child(1){
    background-color: #D5DBDB;
    }
    /* 15. `header`의 자식 `nav`의 자식 `ul` 요소의 첫 번째 `a` 요소를 선택하세요. */
    
    {
    
    color: #00f;
    }
    /* 16. `header`의 자식 `nav`의 자식 `ul` 요소의 두 번째 `a` 요소를 선택하세요. */
    
    {
    
    color: #0f0;
    }
    /* 17. `body` 요소의 직계 자식 `section` 요소를 선택하세요. */
    
    {
    
    border: 1px solid #BDC3C7;
    }
    /* 18. 클래스 이름이 `content`인 `section` 요소 내의 `h2` 요소를 선택하세요.*/
    
    {
    color: #1F618D;
    }
    /* 19. `header` 요소 내의 모든 자손 `li` 요소를 선택하세요. */
    
    {
    
    list-style-type: square;
    }
    /* 20. `footer` 요소 내의 첫 번째 `a` 요소를 선택하세요. */
    
    {
    color: #27AE60;
    }
    
    CSS
    Selector
    Workbook (롯데)기업맞춤형
    웹
    SW개발자
    양성과정
    
    - 4 - 김철학
    
    /* 21. `section` 요소 중 첫 번째 요소를 선택하세요. */
    
    {
    border: 2px dashed #16A085;
    }
    /* 22. `section` 요소 중 마지막 요소를 선택하세요. */
    
    {
    background-color: #bbe1ee;
    }
    /* 23. `p` 요소 중 첫 번째 요소를 선택하세요. */
    
    {
    color: #D35400;
    }
    /* 24. `p` 요소 중 마지막 요소를 선택하세요. */
    
    {
    font-style: italic;
    color: #2980B9;
    }
    /* 25. `title` 클래스가 있는 `h2` 요소의 형제 요소를 선택하세요. */
    
    {
    
    background-color: #E8F4F8;
    }
    /* 26. `title` 클래스가 있는 `h2` 요소의 모든 형제 요소를 선택하세요. */
    
    {
    color: #8E44AD;
    }
    /* 27. `h2` 요소 중 첫 번째 요소를 선택하세요. */
    
    {
    color: #E67E22;
    }
    /* 28. `ol` 요소의 자식 `li` 요소 중 홀수 번째 요소를 선택하세요. */
    
    {
    color: orange;
    }
    /* 29. 클래스 이름이 `intro`인 요소를 마우스호버일때 선택하세요. */
    
    {
    
    background-color: #E74C3C;
    }
    /* 30. footer 요소의 자식 마지막 번째 `a` 요소 끝의 가상 요소를 선택하세요. */
    
    {
    
    content: 'c';
    }